.formsign{
    margin-left: 57vmax;
    text-align: center;
    /* align-items: center; */
    border: 2px solid black;
    width: 30%;
    height: 64vh;
    margin-top: 10vmax;
    border-radius: 6vmax;
}
.signintext2{
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    color: olive;

}
.signinheight{
    background-image: url("../assets/accountpic.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -7vmax;
}
.text8{
    margin-bottom: -1.7vmax;
    margin-right: 1.8vmax;
}
.loginerror{
    margin-left: 65vmax;
    margin-top: 12vmax;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bolder;
    width: 15%;
}