
.cardimg{
    border: 1px solid black;
     height: 50vh;
    /* width: 35%; */
}

.headcontent{
    margin-top: 8vmax;
    margin-left: 34vmax;
    font-weight: bolder;

}
.headcontent1{
    margin-left: 36vmax;
}
.productall{
    margin: auto;
    align-items: center;
    text-align: center;  
}
.child{
    margin-right: 4vmax;
}
.prodtoy{
    margin-left: 6.5vmax;
    color: darkgreen;
}
.productlink{
    text-decoration: none;
    margin-left: 4vmax;
}
/* .background2{
    background-color: rgb(94, 86, 86);
    background-repeat: no-repeat;
    background-size: cover;
    height: 27vh;
    width: 74%;
    margin: auto;
    border-radius: 0.5vmax;
    background-position: center;
} */
.allicon{
    /* height: 40vh;
    width: 15vw; */
}
.productsicon{
    display: flex;
    flex-direction: row;
    margin-top: 5vmax;
    margin-left: 6vmax;
}
.productcolor{
    color: chartreuse;
}
.productname{
    color: darkgreen;
    margin-left: 5vmax;
}
.productborder{
    /* border: 1px solid black; */
    height: 490vh;
    width: 78%;
    margin-left: 2vmax;
}
.margintop{
    margin-top: 7vmax;
    display: flex;
    flex-direction: row;
}
.categories{
    height: 30vmax;
    width: 18%;
    margin-left: 1vmax;
    border: 1px solid black;
}
.divproducts{
    margin-left: 1vmax;
}
.relatedproduct{
    height: 34vmax;
    width: 95%;
    /* border: 2px solid black; */
    background-color:rgb(236, 245, 250);
    margin: auto;
}
.relatedproduct2{
    margin-top: 10vmax;
}
.relateddeals{
    font-weight: bolder;
    margin-left: 2vmax;
    margin-top: 2vmax;
    font-size: 21px;
}
.prodlink{
    margin-top: -2vmax;
    color: darkgreen;
    margin-left: 1vmax;
}